$black: #03090e;
$lighter-gray: #dfdfdf;
$light-gray-hover: #4d4d4d;
$light-gray: #404147;
$gray: #353b40;
$dark-gray: #2F3336;
$white: #fefefe;
$green: #1DD75F;
$border-nav: 2px solid $gray;
$rounded-container: 20px;
$rounded-full: 999px;
$rounded-cover-song: 5px;
$width-button: 3rem;